@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
  --primary: #8159c6;
  --secondary: #ffe3a2;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: var(--primary);
}

a:hover {
  color: var(--secondary);
}

.bg-gradient-main {
  background: conic-gradient(at bottom right, #1d4ed8, #1e40af, #111827);
}

.bg-gradient-secondary {
  background: radial-gradient(ellipse at top, #0f172a, #334155);
}

.bg-card {
  background-color: gray;
  background-clip: padding-box;
  backdrop-filter: blur(8px) saturate(100%) contrast(100%);
  opacity: 50%;
}