@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
  --primary: #8159c6;
  --secondary: #ffe3a2;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: var(--primary);
}

a:hover {
  color: var(--secondary);
}

.bg-gradient-main {
  background-color: #1f2544;
    background-image: radial-gradient(at 47% 57%, #1f2544 0%, transparent 60%), radial-gradient(at 6% 35%, #474f7a 0%, transparent 50%), radial-gradient(at 86% 14%, #81689d 0%, transparent 40%), radial-gradient(at 88% 39%, #ffd0ec 0%, transparent 30%);
}

.bg-gradient-secondary {
  background: radial-gradient(ellipse at top, #0f172a, #334155);
}

.bg-card {
  background-color: gray;
  background-clip: padding-box;
  backdrop-filter: blur(8px) saturate(100%) contrast(100%);
  opacity: 50%;
}